*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4f5962;
  font-size: 16px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

main {
  padding-top: 48px;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  background: #212329;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  max-width: 1233px;
  padding: 30px 50px;

  margin: 0 auto;
  margin-top: 100px;
}

// Header

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    font-weight: 300;
    font-size: 16px;
    line-height: 18px;

    color: #ffffff;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
  }
}

.header-balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    font-weight: 300;
    font-size: 16px;
    line-height: 18px;

    color: #ffffff;
  }

  span {
    font-weight: 500;
  }
}

.header-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  div {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #ffffff;
    background: linear-gradient(90deg, #ff731e 0%, #ff862e 100%, #ff6000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px 15px;
  }
}

// SLider

.slider {
  position: relative;

  .slides {
    .slide {
      display: flex;
      flex-direction: row;
      position: relative;

      background: #2e3036;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 40px;

      &__right {
        .slide-img {
          margin-left: 250px;
          position: absolute;
          top: 0;
          height: 100%;
          width: 350px;
          transform: skew(-25deg);
          background: #d4d5da;
          overflow: hidden;


          img {
            transform: skew(25deg);
            width: 130%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &__left {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .gameName {
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;

          color: #ff731e;
        }

        h1 {
          font-weight: 700;
          font-size: 32px;
          line-height: 37px;
          color: #ffffff;
        }

        .slide_timer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;

          .timer_block {
            background: #3b3d42;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;

            display: flex;
            flex-direction: column;
            align-items: center;

            min-width: 60px;

            padding: 6px 11px;

            &_active {
              display: flex;
              flex-direction: column;
              align-items: center;

              background: #ff731e;

              padding: 6px 11px;
              min-width: 60px;

              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 2px;

              h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                color: #ffffff;
              }

              p {
                font-weight: 400;
                font-size: 10px;
                line-height: 11px;

                color: #ffffff;
              }
            }

            h3 {
              font-weight: 700;
              font-size: 24px;
              line-height: 28px;
              color: #ffffff;
            }

            p {
              font-weight: 400;
              font-size: 10px;
              line-height: 11px;

              color: #ffffff;
            }
          }
        }

        .slide-btn {
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;

          color: #ffffff;
          background: linear-gradient(90deg, #e63545 0%, #f29d26 100%);
          border-radius: 4px;
          padding: 10px 30px;
          width: 200px;
        }
      }
    }
  }
}
